:root {
  --header-height: 100px;
  --footer-height: 100px;

  /*
    */
  --background-color: #f5e7d5;
  --primary-color: #8d738d;
  --secondary-color: #9d8a6c;

  --color1: #e8f1f0;
  --color2: #e7b2c6;
  --color3: #f4dbf9;
  --color4: #b7ffcf;
  --color5: #fcfdee;
  --color6: #c3ecda;
  --color7: #fff4de;
  --color8: #ffcdde;
}

.mhc-body {
  /*
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    */
}

/*
.mhc-navbar {
  background-color: var(--background-color);
  min-height: var(--header-heigth);
}
*/
.mhc-navbar {
  background-color: var(--color1);
  transition: all 0.3s ease;
}

.mhc-navbar.scroll {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--color1);
  background-color: var(--background-color);
}

.mhc-logo {
  height: calc(var(--header-height) * 0.9);
  max-width: 50vw;
  transition: all 0.3s ease;
}

.scroll .mhc-logo {
  height: calc(var(--header-height) * 0.32);
}

.mhc-footer {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--footer-height);
}

.mhc-justify-end {
  justify-content: flex-end;
}

.mhc-container-index {
  padding-top: calc(var(--header-height) * 1.2);
  min-height: calc(100vh);
  background-color: var(--color1);
}

.mhc-container-about {
  padding-top: calc(var(--header-height) * 0.7);
  min-height: 100vh;
  background-color: var(--color5);
}

.mhc-container-treatments {
  padding-top: calc(var(--header-height) * 0.7);
  min-height: 100vh;
  background-color: var(--color8);
}

.mhc-container-contact {
  padding-top: calc(var(--header-height) * 0.7);
  min-height: calc(100vh - var(--footer-height));
  background-color: var(--color3);
}

.mhc-content-index {
  display: flex;
}

.mhc-col-a {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mhc-col-a h1 {
    text-align: end;
    font-size: 48px;
}

.mhc-col-a p {
    text-align: end;
    font-weight: 600;
    font-size: 24px;
}
 
.mhc-col-b {
    padding: 20px;
}


.mhc-personal-picture {
  height: 500px;
  max-height: 70vh;
  max-width: 70vw;
}

.mhc-content-index h2 {
  font-size: medium;
}

.mhc-social-media {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
}
.mhc-social-media .mhc-social-media-buttons{
    height: 70px;
    width: 70px;
    border-radius: 100%;
    border: none;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a i {
    color: oldlace;
}

.mhc-button-media {
    height: 70px;
    width: 70px;
    border-radius: 100%;
}

#btn-phone {
    background-color: #3b5998;
}
#btn-phone:hover {
    background-color: #466AB6;
}

#btn-facebook {
    background-color: #3b5998;
}
#btn-facebook:hover {
    background-color: #466AB6;
}

#btn-instagram {
    background: linear-gradient(to right, #F58529, #ED872D, #C13584, #833AB4, #3B5998, #1DA1F2, #0077B5, #0057A9, #004C97);
}
#btn-instagram:hover {
    background: linear-gradient(to right, #ff8b2d, #ffa75b, #e956a9, #aa5ddd, #537acf, #60c1fd, #0b96e0, #107de4, #0c6fd1);
}

#btn-linkedin {
    background-color: #297DAE;
}

#btn-linkedin:hover {
    background-color: #3295CE;
}

#btn-whatsapp {
    background-color: #13DD75;
}

#btn-whatsapp:hover {
    background-color: #2DEC8A;
}

#btn-email {
    background-color: #dd4b39;
}
#btn-email:hover {
    background-color: #E36B5D;
}

.mhc-map {
    width: 100%;
    max-width: 90vw;
    height: 480px;
    max-height: 80vh;
}

@media only screen and (max-width: 768px) {
  .mhc-content-index {
    flex-direction: column-reverse;
  }

  .mhc-map {
    width: 300px;
  }
}
