:root{
    --background-color: #F5E7D5;
    --primary-color: #8D738D;
    --secondary-color: #9D8A6C;
}

.mhc-body {
    /*
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    */
}

.mhc-navbar {
    background-color: var(--background-color);
}

.logo {
    max-width: 600px;
}

.mhc-footer {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}